@font-face {
  font-family: 'pryFont';
  src: local('Jost')
    url('./assets/fonts/Jost-Light.ttf') format('truetype'),
    url('./assets/fonts/Jost-Medium.ttf') format('truetype'),
    url('./assets/fonts/Jost-Bold.ttf') format('truetype'),
    url('./assets/fonts/Jost-Regular.ttf') format('truetype'),
    url('./assets/fonts/Jost-SemiBold.ttf') format('truetype'),
    url('./assets/fonts/Jost-Black.ttf') format('truetype'),
    url('./assets/fonts/Jost-ExtraBold.ttf') format('truetype'),
    url('./assets/fonts/Jost-Thin.ttf') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: pryFont;
}